# Ignore virtual environment
venv/

# Ignore dataset folders
Ship_Segmentation/Yolov8/Data
Ship_Classification/DATASET

# Ignore YOLOv8 runs folder
Ship_Classification/YOLOv8/runs
Ship_Segmentation/Yolov8/results

# Ignore model and checkpoint files
*.keras
*.pt
*.pth
